<template>
    <div class="slider">
        <!--<teste titulo="Categoria"></teste>-->
        <h3>{{ titulo }}</h3>
        <span v-on:mouseover="scrollEsquerda()" v-on:mouseout="clearScroll()" class="handle handlePrev active">
          <i class="fa fa-caret-left" aria-hidden="true"></i>
        </span>
        <div refs="scroller" class="row">
          <div class="row__inner">
            <filme titulo="Os Dois Papas" imagem="http://via.placeholder.com/300x300"></filme>
            <filme titulo="Karol 'O homem que se tornou Papa' " imagem="http://via.placeholder.com/300x250"></filme>
            <filme titulo="João Paulo I - O Papa Sorriso" imagem="http://via.placeholder.com/300x280"></filme>
           </div>
        </div>  
        <span v-on:mouseover="scrollDireita()" v-on:mouseout="clearScroll()" class="handle handleNext active">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </span>
    </div>
</template>

<script>

import Filme from './Filme.vue'

export default {
    name: 'categoria',
    props:['titulo','imagem'],
    components:{
        Filme
    },
    methods:{
        scrollDireita: ()=>{
            /*
            const powerThis = this
            this.intervalo = setInterval(function(){ powerThis.$refs.scroller.scrollLeft += 1 }  , 5);
            */
            //ou usar arrow function
            this.intervalo = setInterval(()=>{ this.$refs.scroller.scrollLeft += 1 }  , 5);

        },
        scrollEsquerda: ()=>{
            /*
            const powerThis = this
            this.intervalo = setInterval(function(){ powerThis.$refs.scroller.scrollLeft -= 1 }  , 5);
            */
            //ou usar arrow function
            this.intervalo = setInterval(()=>{ this.$refs.scroller.scrollRight -= 1 }  , 5);

        },
        clearScroll: ()=>{
            clearInterval(this.intervalo);
        }
    }
}
</script>

<style>

</style>