<template>
    <div class="gui-card" v-bind:style="effectClick" v-on:click="clickEffect()" v-on:mouseout="removeClickEffect()">
        <div class="gui-card__media">
        <img class="gui-card__img" v-bind:src="imagem" alt=""  />
        </div>
        <div class="gui-card__details">
        <div class="gui-card__title">
            {{ titulo }}
        </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'filme',
    props:['titulo', 'imagem'],
    data(){
        return{
            effectClick: null
        }
    },
    methods:{
        clickEffect: ()=>{
            this.effectClick='transform: scale(1.9); margin-right: 110px;'
        },
        removeClickEffect: ()=>{
            this.effectClick = null
        }
    }
}
</script>

<style>

</style>