<template>
    <div>
        <h1>{{ titulo }}</h1>
    </div>
</template>

<script>
export default {
    name: 'teste',
    props:['titulo']
}
</script>

<style>
h1{
    color: red;
    font-weight: bold;
}
</style>